*{
    margin: 0;
    padding: 0;
}
body{
    height: 5000px;
}
.nav {
    height: 50px;
    border-bottom: 2px solid rgb(243,243,243)
}
a{
    color: rgb(120,144,156);
    text-decoration: none;
    cursor: pointer;
}
.register{
    float: right;
    line-height: 50px;
    margin-right: 50px;
}
.initRegisterBox{
    display: none;
}
.Hidden{
    animation: hiding .5s forwards;
}
.Showen{
    display: block;
    animation: showing .5s forwards ;
}
@keyframes showing{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes hiding{
    0%{
        opacity: 1;
    }
    100%{
        visibility: hidden;
        opacity: 0;
    }
}
.registerBoxBg{
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);

}
.registerBox{
    width: 440px;
    height: 610px;
    background-color: #fff;
    margin: 50px auto;
    border-radius: 10px;
    padding: 35px;
}
.registerTitle{
    font: 400 40px/60px 微软雅黑 ;
}
.registerInput{
    margin-top: 30px;
    height: 40px;
    width: 100%;
    border: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font: 15px/40px 微软雅黑;
    outline: none;
    padding-left: 5px;
}
.registerInput:hover ,
.registerInput:focus{
    border-color: rgb(45,181,93);
}
.BoxHide{
    animation: BoxHide .5s forwards;
}
.BoxShow{
    animation: BoxShow .5s forwards;
}
@keyframes BoxHide{
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(100px);
    }
}
@keyframes BoxShow{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}