*{
    margin: 0;
    padding: 0;
}
body{
    height: 5000px;
}
.nav {
    height: 50px;
    border-bottom: 2px solid rgb(243,243,243)
}
a{
    color: rgb(120,144,156);
    text-decoration: none;
    cursor: pointer;
}
.register{
    float: right;
    line-height: 50px;
    margin-right: 50px;
}
.initRegisterBox{
    display: none;
}
.Hidden{
    animation: hiding .5s forwards;
}
.Showen{
    display: block;
    animation: showing .5s forwards ;
}
@keyframes showing{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes hiding{
    0%{
        opacity: 1;
    }
    100%{
        visibility: hidden;
        opacity: 0;
    }
}
.registerBoxBg{
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);

}
.registerBox{
    width: 440px;
    height: 610px;
    background-color: #fff;
    margin: 50px auto;
    border-radius: 10px;
    padding: 35px;
}
.registerTitle{
    font: 400 40px/60px 微软雅黑 ;
}
.registerInput{
    margin-top: 30px;
    height: 40px;
    width: 100%;
    border: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font: 15px/40px 微软雅黑;
    outline: none;
    padding-left: 5px;
}
.registerInput:hover ,
.registerInput:focus{
    border-color: rgb(45,181,93);
}
.BoxHide{
    animation: BoxHide .5s forwards;
}
.BoxShow{
    animation: BoxShow .5s forwards;
}
@keyframes BoxHide{
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(100px);
    }
}
@keyframes BoxShow{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@font-face {
    font-family: 'icomoon';
    src: url('./fonts/icomoon.eot?7kkyc2');
    src: url('./fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'), url('./fonts/icomoon.ttf?7kkyc2') format('truetype'), url('fonts/icomoon.woff?7kkyc2') format('woff'), url('fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.registerInput{
    font-family: icomoon;
}
.registerSelectCountry{
    position: relative;
    display: block;
    float: left;
    width: 70px;
    cursor: pointer;
    user-select: none;
}
.registerSelectCountry:hover{
    color: rgb(45,181,93);
}
.registerSelectCountry::after{
    content: '';
    top: 11px;
    left: 75px;;
    position: absolute;
    border: 1px solid #ccc;
    height: 20px;
}
.registerInput i{
    float: right;
    font-style: normal;
    position: relative;
}
.registerPhone{
    border: none;
    outline:none;
    position: relative;
    left: 15px;;
    height: 30px;
    width: 340px;
    font: 15px/30px 微软雅黑;
}
.registerCode{
    border: none;
    outline:none;
    position: relative;
    left: 10px;;
    height: 30px;
    width: 200px;
    font: 15px/30px 微软雅黑;
}
.registerSendCodeDisable{
    display: block;
    pointer-events: none;
    float: right;
    margin-right: 20px;
    user-select: none;
    color: rgb(196,196,196);
}
.registerSendCodeuse{
    display: block;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    user-select: none;
    color: rgb(45,181,93);
}